:root{
  --color-bg-dark: #7109aa;
  --color-bg-dark-element: #5f2580;
  --color-text-dark: #ad66d5;
  --color-hover-dark: #9f3ed5;


  --color-bg-light: #ad66d5;
  --color-bg-light-element: #9f3ed5;
  --color-text-light: #48036f;
  --color-hover-light: #7109aa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  font-size: 18px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

svg:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.hover-zoom:hover{
  transform: scale(1.1);
}

form{
  max-width: 800px;
}


/* LIGHT */
.light{
  color: black;
  fill: black;
  border-color: var(--color-text-light) !important;
  background-color: var(--color-bg-light);
}
.light.element{
  background-color: var(--color-bg-light-element);
}

.light svg{
  color: black;
}
.light path{
  stroke: black !important;
}
.light a{
  color: black;
}
.light .btn-purple{
  background-color: var(--color-bg-light-element) !important;
  border: black;
  color: black;
}


/* DARK */
.dark{
  color: white;
  fill: white;
  border-color: var(--color-text-dark) !important;
  background-color: var(--color-bg-dark);
}
.dark.element{
  background-color: var(--color-bg-dark-element);
}

.dark svg{
  color: white;
}
.dark path{
  stroke: white;
}
.dark > h1{
  color: white;
}
.dark .btn-purple{
  background-color: var(--color-bg-dark-element) !important;
  border-color: white;
  color: white;
}


@media screen and (min-width: 768px) {
  .rounded-md {
    border-radius: var(--bs-border-radius)!important;
  }
  .ps-md-0{
    padding-left: 0 !important;
  }
  .w-md-75{
    width: 75% !important;
  }
  .w-md-auto{
    width: auto !important;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-auto{
    width: auto !important;
  }
  .w-lg-50{
    width: 50% !important;
  }
  .rounded-lg {
    border-radius: var(--bs-border-radius)!important;
  }
}